<div class="main-content">
    <div class="container-fluid">
        <div class="card">

            <p-table class="marginTable table table-hover table-striped table-responsive" #dt [value]="adesoes" [scrollable]="true" [responsive]="true" [paginator]="true" [rows]="10">
                <!--                    
                    <ng-template pTemplate="caption">
                        <div style="text-align: right">        
                            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                            <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                        </div>
                    </ng-template> -->

                <ng-template pTemplate="header">
                    <tr class="fontMenor">
                        <th>Número</th>
                        <th>Status</th>
                        <th>Cliente</th>
                        <th>CPF</th>
                        <th>Matrícula</th>
                        <th>Data Proposta</th>
                        <th>Serviço</th>
                        <th>Loja</th>
                        <th>Entidade</th>
                        <th>Valor</th>
                        <th>Resposta BMG</th>
                        <th>Resposta Corban</th>
                        <th>Consultor</th>
                        <th>Limite Cartão</th>
                        <th>Status Cartão</th>
                        <th>error</th>
                        <th>Data Criação</th>
                        <th>Data Atualização</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-adesao>
                    <tr class="fontMenor">

                        <td>{{adesao.number}}</td>
                        <td>{{adesao.status}}</td>
                        <td>{{adesao.client}}</td>
                        <td>{{adesao.cpf}}</td>
                        <td>{{adesao.matricula}}</td>
                        <td>{{adesao.data_proposta | date: 'dd/MM/yyyy hh:mm:ss'}}</td>
                        <td>{{adesao.servico}}</td>
                        <td>{{adesao.loja}}</td>
                        <td>{{adesao.entidade}}</td>
                        <td>{{adesao.valor}}</td>
                        <td>{{adesao.resp_bmg}}</td>
                        <td>{{adesao.resp_corban}}</td>
                        <td>{{adesao.consultor}}</td>
                        <td>{{adesao.limite_cartao}}</td>
                        <td>{{adesao.status_cartao}}</td>
                        <td>{{adesao.error}}</td>
                        <td>{{adesao.created_at | date: 'dd/MM/yyyy hh:mm:ss'}}</td>
                        <td>{{adesao.updated_at | date: 'dd/MM/yyyy hh:mm:ss'}}</td>

                    </tr>
                </ng-template>


            </p-table>



        </div>
    </div>
</div>