<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div id="HDpesquisaCliente" class="card-header card-header-primary">
                <h4 class="card-title">Informações Formalização</h4>

            </div>
            <div class="card-body">
                <table>
                    <thead>
                        <tr>
                            <th>Número</th>
                            <th>Status</th>
                            <!--<th>Cliente</th>
                            <th>CPF</th>-->
                            <th>Matrícula</th>
                            <th>Data Proposta</th>
                            <th>Serviço</th>
                            <th>Loja</th>
                            <th>Entidade</th>
                            <th>Valor</th>
                            <th>Resposta BMG</th>
                            <th>Resposta Corban</th>
                            <th>Consultor</th>
                            <th>Limite Cartão</th>
                            <th>Status Cartão</th>
                            <th>error</th>
                            <th>Data Criação</th>
                            <th>Data Atualização</th>-->
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let adesao of adesoes">

                            <td>{{adesao.number}}</td>
                            <td>{{adesao.status}}</td>
                            <!-- <td>{{adesao.}}</td>
                            <td>{{adesao.}}</td>-->
                            <td>{{adesao.matricula}}</td>
                            <td>{{adesao.data_proposta}}</td>
                            <td>{{adesao.servico}}</td>
                            <td>{{adesao.loja}}</td>
                            <td>{{adesao.entidade}}</td>
                            <td>{{adesao.valor}}</td>
                            <td>{{adesao.resp_bmg}}</td>
                            <td>{{adesao.resp_corban}}</td>
                            <td>{{adesao.consultor}}</td>
                            <td>{{adesao.limite_cartao}}</td>
                            <td>{{adesao.status_cartao}}</td>
                            <td>{{adesao.error}}</td>
                            <td>{{adesao.created_at}}</td>
                            <td>{{adesao.updated_at}}</td>

                        </tr>
                    </tbody>


                </table>


            </div>
        </div>
    </div>
</div>