<div class="main-content">
    <div  class="container-fluid">
        <div class="card">
            <div class="card-header"></div>
            <div  class="card-body">
                <div class="d-flex justify-content-between mt-2 m-2" >
               
                    <label class="textQlqr" for="LBatualizar"> <b> Para atualizar as informações: </b> <i> (O tempo de espera é de acordo com a quantidade de
                        informações a serem atualizadas).</i></label>
                    <button  [disabled]="btSearchBMG" type="button" label="Atualizar do BMG" (click)="upBmg()"
                        class="btn btn-outline-info btn-sm rounded"><i class="pi pi-undo"></i>Atualizar do BMG</button>
                </div>
                <!--tabela de dados-->
                <p-table class="table table-hover table-striped table-responsive" #dt [value]="adesoes" [rows]="20"
                    [columns]="cols" [responsive]="true" [scrollable]="true"  [loading]="loadingTable" [paginator]="true">
    
    
                    <ng-template pTemplate="caption">
                        <div style="text-align: right">
                            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                            <input type="text" pInputText size="50" placeholder="Filtro"
                                (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                        </div>
                    </ng-template>
    
                    <ng-template pTemplate="header" let-columns>
                        <tr class="fontMenor">
                            <th *ngFor="let col of columns" [pSortableColumn]="col.field" >{{col.header}}
                                <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr class="fontMenor">
                            <td *ngFor="let col of columns">
                                {{(col.field === 'data_proposta' || col.field === 'created_at' || col.field === 'updated_at')? (rowData[col.field] | date: 'dd/MM/yyyy HH:mm:ss'):(rowData[col.field]) }}
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="summary">
                        Total de {{adesoes?.length}} adesões.
                    </ng-template>
    
                </p-table>
                <!--tabela de dados-->
    
                <!--modal da imagem-->
                <p-dialog class="d-flex justify-content-center rounded" header="Captcha" [(visible)]="display"
                    [modal]="true" [draggable]="true" [resizable]="true">
                    <p-progressSpinner *ngIf="!loadingImg" [style]="{width: '50px', height: '50px'}" strokeWidth="8"
                        fill="#EEEEEE" animationDuration=".8s" class="d-flex justify-content-center "></p-progressSpinner>
                    <span *ngIf="loadingImg">
                        <img style="margin-bottom: 5px;" class="border border-danger border-bottom rounded"
                            [src]="imageToShow" alt="Captcha">
                    </span>
                    <span class="d-flex justify-content-center ui-float-label">
                        <input id="float-input" type="text" size="30" (keyup.enter)="buscaBmg($event)"
                            placeholder="Digite a palavra que aparece na imagem" pInputText>
    
                    </span>
    
                </p-dialog>
                <p-toast [style]="{marginTop: '80px'}" position="top-right"></p-toast>
                <!--modal da imagem-->
    
    
            </div>
            
        </div>
    </div>
</div>