<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header"></div>
            <div class="card-body">
                <div class="d-flex justify-content-between mt-2">
                    <div>
                        <p class="textCor">Consultor: </p>
                        <p-dropdown [options]="consultores" class="" placeholder="consultor" [(ngModel)]="consultorS"
                            [virtualScroll]="true" [itemSize]="25" [filter]="true"></p-dropdown>
                    </div>

                    <div>
                        <p class="textCor">Resposta Coban: </p>
                        <p-dropdown [options]="coban" class="" placeholder="resposta COBAN" [(ngModel)]="cobanS"
                            [virtualScroll]="true" [itemSize]="25" [filter]="true"></p-dropdown>
                    </div>

                    <div>
                        <p class="textCor">Resposta BMG: </p>
                        <span class="  ui-float-label">
                            <p-dropdown [options]="bmg" [(ngModel)]="bmgS" [virtualScroll]="true" [itemSize]="25"
                                [filter]="true"></p-dropdown>
                            <label for="float-input">Resposta BMG </label>
                        </span>
                    </div>

                    <div>
                        <p class="textCor">Status: </p>
                        <span class="  ui-float-label">
                            <p-dropdown [options]="status" [(ngModel)]="statusS" [virtualScroll]="true" [itemSize]="25"
                                [filter]="true"></p-dropdown>
                            <label for="float-input">Status </label>
                        </span>
                    </div>
                    <div>
                        <p class="textCor">Data de atualização: </p>
                        <span class=" ui-float-label">
                            <p-calendar [(ngModel)]="dataup" [locale]="ptBR" [monthNavigator]="true"
                                [yearNavigator]="true" yearRange="1920:2120" dateFormat="dd/mm/yy" [showIcon]="true"
                                showButtonBar="true"></p-calendar>
                            <label for="float-input">Data de atualização </label>
                        </span>
                    </div>
                </div>
                <div class="d-flex justify-content-between mt-2">
                   <!-- <div>
                        <p class="textCor">Data de pagamento: </p>
                        <span class=" ui-float-label">
                            <p-calendar [(ngModel)]="datapg" [locale]="ptBR" [monthNavigator]="true" [yearNavigator]="true" yearRange="1920:2120" dateFormat="dd/mm/yy" [showIcon]="true" showButtonBar="true"></p-calendar>
                           <label for="float-input">Data de pagamento </label>
                        </span> 
                    </div> -->

                   

                    <div>
                        <p class="textCor">Serviço: </p>
                        <span class=" ui-float-label">
                            <input id="servico" [(ngModel)]="servico" type="text" size="30" pInputText>
                            <label for="float-input">Serviço</label>
                        </span>
                    </div>

                    <div>
                        <p class="textCor">Valor: </p>
                        <span class=" ui-float-label">
                            <input id="valor" [(ngModel)]="valor" type="text" size="30" pInputText>
                            <label for="float-input">Valor</label>
                        </span>
                    </div>
                                     
                    <div >
                        <p class="textCor row">Periodo: </p>
                        <div class="row">
                            <span class="ui-float-label">
                                <p-calendar [(ngModel)]="datapI" [locale]="ptBR"  [monthNavigator]="true" [yearNavigator]="true" yearRange="1920:2120" dateFormat="dd/mm/yy" [showIcon]="true" showButtonBar="true"></p-calendar>
                                <label for="float-input ">Data inicial </label>
                            </span>
    
                             <p class="mr-2 ml-2 textCor">a</p>
                            <span class="ui-float-label">
                                <p-calendar [(ngModel)]="datapF" [locale]="ptBR"  [monthNavigator]="true" [yearNavigator]="true" yearRange="1920:2120" dateFormat="dd/mm/yy" [showIcon]="true" showButtonBar="true"></p-calendar>
                                <label for="float-input">Data final </label>
                            </span>   
                        </div>
                                           
                    </div> 

                    <div>
                        <br>
                        <br>
                        <button type="button" (click)="buscar()" class="btn btn-outline-danger btn-sm rounded mb-1"><i
                                class="pi pi-search"></i>Buscar</button>
                    </div>

                </div>
                <!--tabela de dados-->
                <p-table class="table table-hover table-striped table-responsive" #dt [value]="adesoes" [rows]="20"
                    [columns]="cols" [responsive]="true" [scrollable]="true" [loading]="loadingTable"
                    [paginator]="true">

                    <ng-template pTemplate="header" let-columns>
                        <tr class="fontMenor">
                            <th *ngFor="let col of columns" [pSortableColumn]="col.field">{{col.header}}
                                <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                                    ariaLabelDesc="Activate to sort in descending order"
                                    ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr class="fontMenor">
                            <td *ngFor="let col of columns">
                                {{(col.field === 'data_proposta' || col.field === 'created_at' || col.field === 'updated_at')? (rowData[col.field] | date: 'dd/MM/yyyy HH:mm:ss'):(rowData[col.field]) }}
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="summary">
                        Total de {{total}} adesões.
                    </ng-template>
                </p-table>
                <!--tabela de dados-->



            </div>

        </div>
    </div>
</div>