/* You can add global styles to this file, and also import other style files */
.fundo{
    background-image: url(assets/img/backForma70.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-attachment: fixed;
    
    
} 

body .ui-menubar{
    background-color: #f18b42a1;
   }

   @media (min-width: 768px) {
    .login{        
        margin-left: 35% !important;
    }

   

}

.nameSistema{
    font-family: 'Monoton';
    
}
.ui-menubar-root-list{
    font-family: 'Krona One';
    font-size: 12px;
}
.textQlqr{
    font-family: 'Krona One';
    font-size: 12px;
    color: #ff4b03e0;
}

.marginLabel{
    margin-top: 30px;
    margin-bottom: 21px;
}

.ui-float-label>input:focus ~ label, .ui-float-label>input.ui-state-filled ~ label, .ui-float-label>.ui-inputwrapper-focus ~ label, .ui-float-label>.ui-inputwrapper-filled ~ label{
    font-size: 11px;
}


.ui-menuitem-link:hover,
.ui-menuitem-link:focus{
    color: #ffffff !important;
    background-color: #e47e7e !important;
}
.ui-menuitem-text,
.ui-menuitem-link,
.ui-menuitem-icon{
    color: #ffffff !important;
}
.ui-menuitem-link{
    background-color: #f18b42a1 !important;
}


.ui-dialog.ui-dialog-titlebar{
    font-family: 'Monoton' !important;
    color: #ff4b03e0 !important;
}
